
.header {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.header__ttl {
    font-size:25px;
    color: rgb(40, 40, 141);
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    margin: 10px auto;
}
a {
    color: rgb(40, 40, 141);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px;
}


.main__img {
    position:absolute ;
    top: 200px;
    left: 50%;
    z-index: 10;
    width: 750px;
    height: 550px;
}
.main__main {
    width: 100%;
    position: absolute;
    top:550px;
    z-index: 0;
}
.main__shapes{
    width: 75%;
    height: 250px;
    background-color: rgb(17, 17, 116);
}
.main__letter {
    font-size: 70px;
    font-weight: lighter;
}
